button {
    font-size: 1.5rem;
    line-height: 1.5;
    width: 15%;
    /* flex: 1; */
}

div {
    height: 100px;
    border: 1px solid red;
    display: flex;
    /* justify-content: space-evenly;
    align-items: center; */
}

/* button:nth-of-type(4) {
align-self: flex-end;
} */

button:nth-of-type(4) {
    margin-left: auto;
    order: 1;
}

